---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - catalog.kcp.dev
  resources:
  - catalogentries
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - catalog.kcp.dev
  resources:
  - catalogentries/finalizers
  verbs:
  - update
- apiGroups:
  - catalog.kcp.dev
  resources:
  - catalogentries/status
  verbs:
  - get
  - patch
  - update
